@model DemoIndentityCore.Entities.Order

@{ ViewData["Title"] = "Edit"; }

<h1>Edit</h1>

<h4>Edit form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                Email:<select asp-for="UserId" class="form-control"
                              asp-items="@(new SelectList(@ViewBag.listofUser,"Id","UserName"))"></select>
            </div>
            <div class="form-group">
                Car Name:<select asp-for="CarId" class="form-control"
                                 asp-items="@(new SelectList(@ViewBag.listofCar,"CarId","CarName"))"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>