@page
@model LoginModel

@{ 
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_LayoutPhanHeQTUser.cshtml";
}



<h1>Login form</h1>

<form id="account" method="post">
    Email: <input asp-for="Input.Email" />
    Password: <input asp-for="Input.Password" />
    Remember: <input asp-for="Input.RememberMe" />
    <button type="submit">Login</button>
</form>
